<h1>CAP STORE</h1>
<p>bienvenido {{user.name}}</p>
<button id="logout">logout</button>
<div class="buttonContainer">
    <a href="http://localhost:8080/products">STOCK DE GORRAS</a>
    <a href="http://localhost:8080/addProduct">AGREGAR PRODUCTO</a>
</div>
<link rel="stylesheet" href="css/inicio.css">
<script src="/js/inicio.js"></script>