<h1>LOGUEATE</h1>
<form id="loginForm">
    <label>Email</label>
    <input name="email">
    <label>Contraseña</label>
    <input name="password" type="password">
    <input type="submit">
</form>
<P>¿No estas logueado? <a href="/register">registrate :)</a></P>
<script src="/js/login.js"></script>